.main {
  margin-top: 9vh;
  background-image: url("../../images/about.JPG");
  height: 81vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position: center;
}

.bigtron {
  margin-top: 6vh;
  padding: 3vh;
  background-color: rgba(255, 255, 255, 0.5);
}

/* About Text*/

.about-text {
  display: flex;
  text-align: left;
  width: 60vw;
  font-size: 3vh;
  margin-top: 5vh;
  background-color: rgba(255, 255, 255, 0.5  );
  padding: 3vh;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

img {
  width: 30vw;
}
