.main {
  margin-top: 9vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position: center;
  opacity: 0.8;
  margin-bottom: 5vh;
}

#img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5vh solid #ff84ee;
  border-radius: 5vh;
}

.bigtron {
  margin-top: 6vh;
  padding: 3vh;
  background-color: rgba(255, 255, 255, 0.8);
}

/* About Text*/

.about-text {
  display: flex;
  text-align: left;
  width: 60vw;
  font-size: 3vh;
  margin-top: 5vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3vh;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

img {
  width: 30vw;
}
