.main {
  padding-top: 9vh;
  background-image: url("../../images/shop2.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.bigtron {
  margin-top: 20vh;
  background-color: rgba(35, 94, 255, 0.8);
  color: white;
  padding: 2vh;
  border-radius: 2vh;
  text-align: center;
}

.bigtron h1 {
  font-size: 7vh;
}

.location-title {
  font-size: 5vh;
}

.main img {
  width: 8vw;
  margin-top: 25vh;
  margin: 25vh auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Location */

.section-title h1 {
  text-align: center;
  font-size: 6vh;
}

.location-section {
  display: flex;
  flex-direction: column;
  margin: 10vh auto;
  justify-content: center;
  align-items: center;
}

.mapouter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh auto;
}

.reviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vw;
  height: 30vh;
  font-size: 2vh;
  display: flex;
  justify-content: center;
}

.reviews button {
  width: 768px;
}
