

.main {
  padding-top: 9vh;
  background-image: url("../../images/shop2.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.bigtron {
  margin-top: 20vh;
  background-color: rgba(35, 94, 255, 0.8);
  color: white;
  padding: 2vh;
  border-radius: 2vh;
  text-align: center;
}

.bigtron h1 {
  font-size: 7vh;
}

.location-title {
  font-size: 5vh;
}
